# local package
-e .

# external requirements
#google-cloud-secret-manager==2.0.0
#requests
#python-dotenv>=0.5.1
torch~=1.9.0
transformers~=4.6.1
#pytorch_lightning
#seaborn
#matplotlib
#torchvision
#google-cloud-storage
#fsspec
#gcsfs
loguru
google
click==7.1.2
pandas~=1.2.4
numpy
#textblob
#ipykernel
#ipywidgets
scikit-learn
#comet_ml
torchtext
#spacy
#tqdm
#seaborn
streamlit~=0.83.0
#awscli
flake8
tweepy~=3.10.0
#fastapi[all]
#rootpath
#pydantic
#google-cloud-bigquery

python-dotenv~=0.18.0
loguru~=0.5.3
setuptools~=57.0.0